*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{

background:linear-gradient(135deg,#6a11cb,#2575fc);

color:white;

overflow-x:hidden;

}
/* ================= PIN SCREEN ================= */

#lockScreen{

display:flex;

justify-content:center;

align-items:center;

height:100vh;

background:linear-gradient(135deg,#6a11cb,#2575fc);

}

.login-box{

width:350px;

padding:40px;

background:rgba(255,255,255,.15);

backdrop-filter:blur(20px);

border-radius:20px;

text-align:center;

box-shadow:0 10px 40px rgba(0,0,0,.3);

color:white;

}

.login-box h1{

margin-bottom:20px;

}

.login-box input{

width:100%;

padding:15px;

margin:20px 0;

font-size:28px;

text-align:center;

border:none;

border-radius:10px;

outline:none;

letter-spacing:10px;

}

.login-box button{

width:100%;

padding:15px;

font-size:20px;

border:none;

border-radius:10px;

background:gold;

cursor:pointer;

transition:.3s;

}

.login-box button:hover{

transform:scale(1.05);

}

#message{

margin-top:20px;

font-size:18px;

}

#loader{

position:fixed;

width:100%;

height:100vh;

background:#111;

display:flex;

justify-content:center;

align-items:center;

flex-direction:column;

z-index:999;

}

.spinner{

margin-top:20px;

width:70px;

height:70px;

border:8px solid white;

border-top:8px solid gold;

border-radius:50%;

animation:spin 1s linear infinite;

}

@keyframes spin{

100%{

transform:rotate(360deg);

}

}

header{

height:100vh;

display:flex;

flex-direction:column;

justify-content:center;

align-items:center;

text-align:center;

padding:20px;

}

header h1{

font-size:60px;

margin-bottom:20px;

animation:fade 2s;

}

header p{

font-size:24px;

margin-bottom:30px;

}

button{

padding:18px 40px;

font-size:22px;

border:none;

border-radius:40px;

cursor:pointer;

background:gold;

transition:.4s;

}

button:hover{

transform:scale(1.1);

background:white;

}

.cards{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

padding:60px;

}

.card{

background:rgba(255,255,255,.15);

backdrop-filter:blur(15px);

padding:40px;

border-radius:25px;

transition:.5s;

}

.card:hover{

transform:translateY(-15px);

box-shadow:0 20px 40px rgba(0,0,0,.3);

}

footer{

text-align:center;

padding:30px;

font-size:20px;

}

@keyframes fade{

from{

opacity:0;

transform:translateY(50px);

}

to{

opacity:1;

transform:translateY(0);

}

}